*.zip
*.env
*.htaccess
plugins/
uploads/
ai1wm-backups/
jetpack-waf
languages/
wp-staging/
node_modules/
**/build/
upgrade/
upgrade-temp-backup/
*.sh
Dockerfile
docker-compose.yml
docker-entrypoint.sh
.vscode/
nginx.conf
*.jar
php.ini
wp-config.php
*bfg-report