/* Header Styles */

#site-header {
  padding: 16px var(--padding-x-general);
  position: fixed;
  top: 0;
  overflow-y: visible;
  z-index: 10;
  width: 100%;

  .search-container {
    top: 100%;
    right: 0;
    padding: 8px 0;
    display: flex;
    
    .search-field {
      background: var(--color-white-vxm);
      border-radius: 1000px;
      border: 1px solid var(--color-gray-vxm-50);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    }
  }


}

#site-header .site-branding > a {
  display: flex;
  align-items: center;
  height: 100%;
}

#menu-main-menu li a {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--color-white-vxm);
  transition: color 0.3s ease;
}

@media (max-width: 576px) {
  #site-header .site-branding {
    max-width: 50%;
  }

  #site-header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}