/* Header Styles */

#site-header {
  padding: 16px var(--padding-x-general);
  position: fixed;
  top: 0;
  overflow-y: visible;
  z-index: 10;
  width: 100%;

  .search-container {
    top: 100%;
    right: 0;
    padding: 8px var(--padding-x-general);
    display: flex;
  }
}

#site-header .site-branding > a {
  display: flex;
  align-items: center;
  height: 100%;
}

#menu-main-menu li a {
  font-family: var(--body-font);
  font-weight: 400;
  color: var(--vxm-white);
  transition: color 0.3s ease;
}

@media (max-width: 576px) {
  #site-header .site-branding {
    max-width: 50%;
  }

  #site-header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}