/*
Theme Name:   Vidrios x Metro - Tema Hijo
Theme URI:    https://thelamb.studio/vxm
Description:  Tema hijo de Hello para heredar configuración y añadir campos personalizados.
Author:       skLuan
Author URI:   https://thelamb.studio/
Template:     hello-elementor
Version:      1.0.0
Text Domain:  vxm-child
*/
@import "tailwindcss";
:root {
  --vxm-white: var(--e-global-color-primary, #eaeaea);
  --vxm-gray: var(--e-global-color-secondary, #84868c);
  --vxm-black: var(--e-global-color-text, #2e2e2e);
  --vxm-yellow: var(--e-global-color-accent, #d3a02a);

  --link-hover-color: var(--e-global-color-accent-hover);
  --heading-font: var(--e-global-typography-primary);
  --body-font: var(--e-global-typography-secondary);
  --accent-font: var(--e-global-typography-accent);
  --padding-x-general-lg: 42px;
  --padding-x-general-sm: 16px;
  --padding-x-general: var(--padding-x-general-lg);

  --vxm-font-size-14: 0.875rem;
  --vxm-font-size-16: 1rem;
  --vxm-font-size-18: 1.125rem;
  --vxm-font-size-24: 1.5rem;
}

main {
  margin-top: 79px;
  /* Adjust based on header height */
}

/* WooCommerce Product Categories Grid */
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 52px;
  margin: 20px auto;
  max-width: 80%;

  .cat-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 283px;
    height: 300px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .cat-image {
      picture {
        display: block;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
    }

    .cat-name {
      position: absolute;
      display: flex;
      flex-direction: row;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 18px;
      text-align: center;

      span {
        font-weight: bold;
        font-size: var(--vxm-font-size-18);
      }
    }
  }
}

@media (max-width: 768px) {
  .categories-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 576px) {
  :root {
    --padding-x-general: var(--padding-x-general-sm);
  }
}